/**************** SELECTORES **************************/
body {
    font-family: 'Nunito', sans-serif
}
ul#indice {
    list-style: none;
}

/************************ ID ******************************/
#go_home {
    font-size: 16px;
    position: absolute !important;
    left: 16px;
    top: 16px;
}
#go_home a{
    color: #333;
}
#go_home a:hover {
    text-decoration: underline;
}

/******************** CLASES **************************/
.filosofia {
    font-size: 16px !important;
}
.logo {
    display: inline-block;
    width: 300px;
}
.nota {
    font-size: 0.6em !important;
    line-height: 1em !important;
}
.reveal section img {
    border: 0 !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
}